<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>原生子路由</title>
    <link rel="stylesheet" href="../css/resize.css">
    <link rel="stylesheet" href="../css/infor.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="sidbar">
            <ul class="sidbar_list">
                <li>已选内容</li>
                <li>自定义直播间</li>
                <li>生成链接</li>
                <li>自定义banner</li>
                <li>生成直播间</li>
            </ul>
        </div>
        <div class="contain">
            <ul class="contain_list">
                <li><iframe src="../views/infor_yxnr.html" frameborder="0"></iframe></li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</body>
<script src="../js/infor.js"></script>
</html>