<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>原生子路由</title>
    <link rel="stylesheet" href="../css/resize.css">
    <link rel="stylesheet" href="../css/infor_yxnr.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
</head>
<body>
    <div class="wrap">
        <p class="title">您当前的位置：已选内容</p>
        <div class="contain">
            <div class="con_title">
                <ul class="title_list">
                    <li>状态：</li>
                    <li>全部</li>
                    <li>显示</li>
                    <li>隐藏</li>
                </ul>
                 <ul class="title_list_se">
                    <li>全部时间：</li>
                    <li>全部</li>
                    <li>最近三天</li>
                    <li>本周</li>
                    <li>本月</li>
                    <li>自定义</li>
                </ul>
            </div>
            <table>
                <tr>
                    <th>序号</th>
                    <th>平台</th>
                    <th>直播间名称</th>
                    <th>附属商品个数</th>
                    <th>状态</th>
                    <th>发布日期</th>
                    <th>操作</th>
                </tr>
                <tr class="big_tr">
                    <td rowspan="4">1</td>
                    <td rowspan="4">平台</td>
                </tr>
                 <tr>
                    <td >一笑奈何</td>
                    <td >12</td>
                    <td >显示</td>
                    <td >2015/05/06</td>
                    <td ><button>删除</button></td>
                </tr>
                 <tr>
                    <td >一笑奈何</td>
                    <td >12</td>
                    <td >显示</td>
                    <td >2015/05/06</td>
                    <td ><button>删除</button></td>
                </tr>
                <tr>
                    <td >一笑奈何</td>
                    <td >12</td>
                    <td >显示</td>
                    <td >2015/05/06</td>
                    <td ><button>删除</button></td>
                </tr>
                <tr class="big_tr">
                    <td rowspan="4">2</td>
                    <td rowspan="4">平台</td>
                </tr>
                <tr>
                    <td >一笑奈何</td>
                    <td >12</td>
                    <td >显示</td>
                    <td >2015/05/06</td>
                    <td ><button>删除</button></td>
                </tr>
                <tr>
                    <td >一笑奈何</td>
                    <td >12</td>
                    <td >显示</td>
                    <td >2015/05/06</td>
                    <td ><button>删除</button></td>
                </tr>
                <tr>
                    <td >一笑奈何</td>
                    <td >12</td>
                    <td >显示</td>
                    <td >2015/05/06</td>
                    <td ><button>删除</button></td>
                </tr>
                <tr class="big_tr">
                    <td rowspan="4">3</td>
                    <td rowspan="4">平台</td>
                </tr>
                 <tr>
                    <td >一笑奈何</td>
                    <td >12</td>
                    <td >显示</td>
                    <td >2015/05/06</td>
                    <td ><button>删除</button></td>
                </tr>
                 <tr>
                    <td >一笑奈何</td>
                    <td >12</td>
                    <td >显示</td>
                    <td >2015/05/06</td>
                    <td ><button>删除</button></td>
                </tr>
                <tr>
                    <td >一笑奈何</td>
                    <td >12</td>
                    <td >显示</td>
                    <td >2015/05/06</td>
                    <td ><button>删除</button></td>
                </tr>
                <tr class="big_tr">
                    <td rowspan="3">4</td>
                    <td rowspan="3">平台</td>
                </tr>
                 <tr>
                    <td >一笑奈何</td>
                    <td >12</td>
                    <td >显示</td>
                    <td >2015/05/06</td>
                    <td ><button>删除</button></td>
                </tr>
                 <tr>
                    <td >一笑奈何</td>
                    <td >12</td>
                    <td >显示</td>
                    <td >2015/05/06</td>
                    <td ><button>删除</button></td>
                </tr>
            </table>
        </div>
    </div>
</body>
<script src="../js/infor_yxnr.js"></script>
</html>